@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #212121f8;
  --foreground: #00c2cb;
  --bg-dark: #f5f5f5;
  --text-color-light: #f5f5f5;
  --text-color-dark: #000;
  --conactMe: #00c2cb;
  --placeholder-dark: #000;
}

body {
  background: var(--background);
  color: var(--text-color-light);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

a,
p,
.hero,
.footerText {
  color: var(--text-color-light);
}

.footerText {
  margin-top: 10px;
}

.mouseIcon {
  filter: invert();
}

/* dark mode css */
.dark body {
  background-color: var(--bg-dark);
  color: var(--text-color-dark);
}

.dark .menubar {
  color: var(--background);
}

.dark a,
.dark p,
.dark .hero,
.dark .footerText {
  color: var(--text-color-dark);
}

.dark .mediumIcon {
  filter: invert();
}

.dark .mouseIcon {
  filter: none;
}

.dark .contactMe {
  color: var(--conactMe);
}

.dark .contactMeForm {
  border: 1px solid black;
}

.dark input::placeholder,
.dark textarea::placeholder {
  color: var(--placeholder-dark);
}

.dark .footer {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--text-color-dark);
}

.dark .bg-black {
  background-color: rgba(0, 0, 0, 0.1);
}

.waving-hand {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave-animation 2.5s infinite;
}

/* Keyframes for waving */
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.developer-image {
  width: 100%;
  max-width: 480px;
  height: auto;
}

@media (max-width: 600px) {
  .developer-image {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .developer-image {
    max-width: 100%;
  }
}
